.header {
    display: flex;
    justify-content:space-between;
    align-items: center;
    height: 15vh;
}

.header__title {
    padding: 30px 60px;
    font-size: 28px;
    font-weight: bold;
}

.header__logo {
    height: 3.5rem;
    object-fit:fill;
}

.header__nav {
    padding: 30px 60px;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.header__nav-item {
    padding: 0px 10px;
    font-size: 16px;
    font-weight: bold;
    color: var(--font-sub-color);
    cursor: pointer;
}

.header__nav-item:hover,
.header__nav-item:active {
    text-decoration: underline var(--font-sub-color);
    text-underline-offset: 0.7rem;
    text-decoration-thickness: 5px;
}

.header__nav-item--activated {
    color: var(--font-main-color);
    text-decoration: underline var(--font-main-color);
    text-underline-offset: 0.7rem;
    text-decoration-thickness: 5px;
}